<div class="login-container">

    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email"  placeholder="Email address" required="" autofocus="" ng-model="user.mail">
        <input type="password"  placeholder="Password" required="" ng-model="user.pass">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-default" type="submit" ng-click="login(user)">Sign in</button>
    </form>

</div>

